openapi: 3.2.0
info:
  title: Trint Export API
  description: The Trint API provides programmatic access to Trint's AI audio and video transcription platform.
  version: '1.0'
  contact:
    name: Trint Developer Hub
    url: https://dev.trint.com
  license:
    name: Proprietary
    url: https://trint.com/terms
servers:
- url: https://api.trint.com
  description: US tenant (default)
- url: https://api.eu.trint.com
  description: EU tenant (Enterprise data residency)
- url: https://upload.trint.com
  description: Direct media upload host
security:
- basicAuth: []
- legacyApiKey: []
tags:
- name: Export
  description: Export transcripts and captions in various formats.
paths:
  /export/{id}:
    parameters:
    - $ref: '#/components/parameters/FileId'
    get:
      operationId: exportTranscript
      tags:
      - Export
      summary: Export a transcript
      description: Exports a transcript in the requested format. Trint documents exporting the Transcript file type as JSON, plain text, CSV, Microsoft Word (.docx), SubRip captions (.srt), Edit Decision List (.edl), and Premiere XML. The exact request path is modeled here; the set of formats is grounded in Trint's public export documentation.
      x-modeled: true
      parameters:
      - name: format
        in: query
        required: true
        description: The export format.
        schema:
          type: string
          enum:
          - json
          - text
          - csv
          - docx
          - srt
          - edl
          - premiere-xml
      responses:
        '200':
          description: The exported transcript in the requested format.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
            text/plain:
              schema:
                type: string
            text/csv:
              schema:
                type: string
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                type: string
                format: binary
            application/x-subrip:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /captions/{id}:
    parameters:
    - $ref: '#/components/parameters/FileId'
    get:
      operationId: getCaptions
      tags:
      - Export
      summary: Get captions
      description: Retrieves captions for a transcript in Trint's caption format.
      x-modeled: true
      responses:
        '200':
          description: Caption data.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
  parameters:
    FileId:
      name: id
      in: path
      required: true
      description: The transcript (file) or resource ID.
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API Key ID as the username and the API Key Secret as the password, sent as a Base64-encoded `Authorization` header. Recommended.
    legacyApiKey:
      type: apiKey
      in: header
      name: api-key
      description: Legacy authentication. The legacy key value is sent in the `api-key` request header.
