openapi: 3.2.0
info:
  title: Trint Upload and Transcribe API
  description: The Trint API provides programmatic access to Trint's AI audio and video transcription platform.
  version: '1.0'
  contact:
    name: Trint Developer Hub
    url: https://dev.trint.com
  license:
    name: Proprietary
    url: https://trint.com/terms
servers:
- url: https://api.trint.com
  description: US tenant (default)
- url: https://api.eu.trint.com
  description: EU tenant (Enterprise data residency)
- url: https://upload.trint.com
  description: Direct media upload host
security:
- basicAuth: []
- legacyApiKey: []
tags:
- name: Upload and Transcribe
  description: Upload or ingest media and start automatic transcription.
paths:
  /upload:
    servers:
    - url: https://upload.trint.com
      description: Direct media upload host
    post:
      operationId: uploadAndTranscribe
      tags:
      - Upload and Transcribe
      summary: Upload and transcribe a media file
      description: Uploads a media file directly to Trint as a binary payload and begins transcription immediately. Once the upload completes the file appears on the My Trints page and automatically starts transcribing. Supported formats include MP4, MOV, AVI, WAV, MP3, and others. Note the host is https://upload.trint.com, not the main api.trint.com host.
      parameters:
      - name: filename
        in: query
        required: true
        description: The file name to store the upload under.
        schema:
          type: string
      - name: language
        in: query
        required: false
        description: Language code for transcription (for example en, es, fr).
        schema:
          type: string
      - name: user
        in: query
        required: false
        description: Username to attach the file to.
        schema:
          type: string
      - name: metadata
        in: query
        required: false
        description: Arbitrary metadata echoed back on the webhook callback event.
        schema:
          type: string
      - name: detect-speaker-change
        in: query
        required: false
        description: Enable speaker separation / diarization. Defaults to true.
        schema:
          type: boolean
          default: true
      - name: folder-id
        in: query
        required: false
        description: Destination folder ID.
        schema:
          type: string
      - name: workspace-id
        in: query
        required: false
        description: Destination workspace / shared drive ID.
        schema:
          type: string
      - name: custom-dictionary
        in: query
        required: false
        description: Apply Vocab Builder custom dictionary. Defaults to true.
        schema:
          type: boolean
          default: true
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Upload accepted; transcription started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /ingest:
    post:
      operationId: ingestFromUrl
      tags:
      - Upload and Transcribe
      summary: Asynchronously ingest media from a source URL
      description: Submits a source media URL for asynchronous ingestion and transcription, rather than uploading the bytes directly.
      x-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestInput'
      responses:
        '200':
          description: Ingestion job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /ingest/status:
    get:
      operationId: getIngestStatus
      tags:
      - Upload and Transcribe
      summary: Get ingestion status
      description: Returns paginated uploads or an aggregate summary grouped per ingestion status.
      x-modeled: true
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Ingestion status.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    UploadResult:
      type: object
      properties:
        trintId:
          type: string
          description: The ID of the created transcript.
        message:
          type: string
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
    IngestInput:
      type: object
      required:
      - url
      properties:
        url:
          type: string
          format: uri
          description: Source media URL to ingest.
        filename:
          type: string
        language:
          type: string
        metadata:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API Key ID as the username and the API Key Secret as the password, sent as a Base64-encoded `Authorization` header. Recommended.
    legacyApiKey:
      type: apiKey
      in: header
      name: api-key
      description: Legacy authentication. The legacy key value is sent in the `api-key` request header.
