openapi: 3.2.0
info:
  title: Trint Transcripts and Files API
  description: The Trint API provides programmatic access to Trint's AI audio and video transcription platform.
  version: '1.0'
  contact:
    name: Trint Developer Hub
    url: https://dev.trint.com
  license:
    name: Proprietary
    url: https://trint.com/terms
servers:
- url: https://api.trint.com
  description: US tenant (default)
- url: https://api.eu.trint.com
  description: EU tenant (Enterprise data residency)
- url: https://upload.trint.com
  description: Direct media upload host
security:
- basicAuth: []
- legacyApiKey: []
tags:
- name: Transcripts and Files
  description: List and retrieve transcripts (files), folders, and shared drives.
paths:
  /transcripts/:
    get:
      operationId: listTranscripts
      tags:
      - Transcripts and Files
      summary: List transcripts (files)
      description: Returns a list of files (id, title, and metadata) belonging to the current user or accessible via a specified Shared Drive. This endpoint is confirmed against Trint's public docs, including the documented example `GET https://api.trint.com/transcripts/?limit=100&skip=0`.
      parameters:
      - name: limit
        in: query
        required: false
        description: Maximum number of items to return.
        schema:
          type: integer
          default: 100
      - name: skip
        in: query
        required: false
        description: Number of items to skip for pagination.
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: A list of transcripts / files.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TranscriptFile'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /transcripts/{id}:
    parameters:
    - $ref: '#/components/parameters/FileId'
    get:
      operationId: getTranscript
      tags:
      - Transcripts and Files
      summary: Retrieve a transcript (file)
      description: Retrieves a single transcript / file by its ID.
      x-modeled: true
      responses:
        '200':
          description: The requested transcript.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptFile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /folders:
    get:
      operationId: listFolders
      tags:
      - Transcripts and Files
      summary: List folders
      description: Lists folders that organize transcripts.
      x-modeled: true
      responses:
        '200':
          description: A list of folders.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Folder'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createFolder
      tags:
      - Transcripts and Files
      summary: Create a folder
      description: Creates a new folder.
      x-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderInput'
      responses:
        '200':
          description: The created folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /shared-drives:
    get:
      operationId: listSharedDrives
      tags:
      - Transcripts and Files
      summary: List shared drives (workspaces)
      description: Lists the shared drives / workspaces accessible to the account.
      x-modeled: true
      responses:
        '200':
          description: A list of shared drives.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharedDrive'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Folder:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    TranscriptFile:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        language:
          type: string
        status:
          type: string
        duration:
          type: number
        created:
          type: string
          format: date-time
    SharedDrive:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
    FolderInput:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        workspaceId:
          type: string
  parameters:
    FileId:
      name: id
      in: path
      required: true
      description: The transcript (file) or resource ID.
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API Key ID as the username and the API Key Secret as the password, sent as a Base64-encoded `Authorization` header. Recommended.
    legacyApiKey:
      type: apiKey
      in: header
      name: api-key
      description: Legacy authentication. The legacy key value is sent in the `api-key` request header.
