openapi: 3.2.0
info:
  title: Trint Translations API
  description: The Trint API provides programmatic access to Trint's AI audio and video transcription platform.
  version: '1.0'
  contact:
    name: Trint Developer Hub
    url: https://dev.trint.com
  license:
    name: Proprietary
    url: https://trint.com/terms
servers:
- url: https://api.trint.com
  description: US tenant (default)
- url: https://api.eu.trint.com
  description: EU tenant (Enterprise data residency)
- url: https://upload.trint.com
  description: Direct media upload host
security:
- basicAuth: []
- legacyApiKey: []
tags:
- name: Translations
  description: Translate transcripts into other languages.
paths:
  /translation-languages:
    get:
      operationId: listTranslationLanguages
      tags:
      - Translations
      summary: List supported translation languages
      description: Returns the language codes Trint can translate transcripts into.
      x-modeled: true
      responses:
        '200':
          description: Supported language codes.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /translations:
    post:
      operationId: createTranslation
      tags:
      - Translations
      summary: Create a translation
      description: Requests a translation of a transcript into a target language.
      x-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslationInput'
      responses:
        '200':
          description: The created translation job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Translation'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /translations/{fileId}:
    parameters:
    - name: fileId
      in: path
      required: true
      description: The transcript (file) ID.
      schema:
        type: string
    get:
      operationId: getTranslations
      tags:
      - Translations
      summary: Get translations for a transcript
      description: Retrieves translations associated with a transcript.
      x-modeled: true
      responses:
        '200':
          description: Translations for the transcript.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Translation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Translation:
      type: object
      properties:
        id:
          type: string
        fileId:
          type: string
        language:
          type: string
        status:
          type: string
    TranslationInput:
      type: object
      required:
      - fileId
      - language
      properties:
        fileId:
          type: string
        language:
          type: string
          description: Target language code.
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API Key ID as the username and the API Key Secret as the password, sent as a Base64-encoded `Authorization` header. Recommended.
    legacyApiKey:
      type: apiKey
      in: header
      name: api-key
      description: Legacy authentication. The legacy key value is sent in the `api-key` request header.
