openapi: 3.0.3
info:
  title: Trint API
  description: >-
    The Trint API provides programmatic access to Trint's AI audio and video
    transcription platform. You can upload media for automatic speech-to-text
    transcription, ingest media asynchronously from a source URL, list and
    organize transcripts (files), folders, and shared drives, export transcripts
    in a range of formats (JSON, plain text, CSV, Microsoft Word .docx, SubRip
    .srt captions, Edit Decision List .edl, and Premiere XML), translate
    transcripts into dozens of languages, run live/realtime transcription via an
    RTMP stream, and register webhooks to be notified when transcription
    completes.

    Base URL is https://api.trint.com for the US tenant and
    https://api.eu.trint.com for EU (data-residency) Enterprise accounts. Direct
    media uploads go to the separate host https://upload.trint.com. API access is
    available on paid plans and is recommended on Enterprise for heavy usage.

    GROUNDING NOTE: The upload endpoint (https://upload.trint.com), the list
    endpoint GET /transcripts/, authentication, the export formats, the realtime
    RTMP flow, and the webhook event types are grounded in Trint's public
    developer docs at https://dev.trint.com. Some exact resource paths for
    exports, files/folders, translations, and realtime are modeled from Trint's
    documented capability index (https://dev.trint.com/llms.txt) where the
    individual reference pages were not machine-readable at authoring time; those
    operations are marked with `x-modeled: true`.
  version: '1.0'
  contact:
    name: Trint Developer Hub
    url: https://dev.trint.com
  license:
    name: Proprietary
    url: https://trint.com/terms
servers:
  - url: https://api.trint.com
    description: US tenant (default)
  - url: https://api.eu.trint.com
    description: EU tenant (Enterprise data residency)
  - url: https://upload.trint.com
    description: Direct media upload host
security:
  - basicAuth: []
  - legacyApiKey: []
tags:
  - name: Upload and Transcribe
    description: Upload or ingest media and start automatic transcription.
  - name: Transcripts and Files
    description: List and retrieve transcripts (files), folders, and shared drives.
  - name: Export
    description: Export transcripts and captions in various formats.
  - name: Translations
    description: Translate transcripts into other languages.
  - name: Realtime
    description: Live/realtime transcription via an RTMP media stream.
  - name: Webhooks
    description: Register callbacks for transcription lifecycle events.
paths:
  /upload:
    servers:
      - url: https://upload.trint.com
        description: Direct media upload host
    post:
      operationId: uploadAndTranscribe
      tags:
        - Upload and Transcribe
      summary: Upload and transcribe a media file
      description: >-
        Uploads a media file directly to Trint as a binary payload and begins
        transcription immediately. Once the upload completes the file appears on
        the My Trints page and automatically starts transcribing. Supported
        formats include MP4, MOV, AVI, WAV, MP3, and others. Note the host is
        https://upload.trint.com, not the main api.trint.com host.
      parameters:
        - name: filename
          in: query
          required: true
          description: The file name to store the upload under.
          schema:
            type: string
        - name: language
          in: query
          required: false
          description: Language code for transcription (for example en, es, fr).
          schema:
            type: string
        - name: user
          in: query
          required: false
          description: Username to attach the file to.
          schema:
            type: string
        - name: metadata
          in: query
          required: false
          description: Arbitrary metadata echoed back on the webhook callback event.
          schema:
            type: string
        - name: detect-speaker-change
          in: query
          required: false
          description: Enable speaker separation / diarization. Defaults to true.
          schema:
            type: boolean
            default: true
        - name: folder-id
          in: query
          required: false
          description: Destination folder ID.
          schema:
            type: string
        - name: workspace-id
          in: query
          required: false
          description: Destination workspace / shared drive ID.
          schema:
            type: string
        - name: custom-dictionary
          in: query
          required: false
          description: Apply Vocab Builder custom dictionary. Defaults to true.
          schema:
            type: boolean
            default: true
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Upload accepted; transcription started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /ingest:
    post:
      operationId: ingestFromUrl
      tags:
        - Upload and Transcribe
      summary: Asynchronously ingest media from a source URL
      description: >-
        Submits a source media URL for asynchronous ingestion and transcription,
        rather than uploading the bytes directly.
      x-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestInput'
      responses:
        '200':
          description: Ingestion job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /ingest/status:
    get:
      operationId: getIngestStatus
      tags:
        - Upload and Transcribe
      summary: Get ingestion status
      description: >-
        Returns paginated uploads or an aggregate summary grouped per ingestion
        status.
      x-modeled: true
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
        - name: skip
          in: query
          required: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Ingestion status.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /transcripts/:
    get:
      operationId: listTranscripts
      tags:
        - Transcripts and Files
      summary: List transcripts (files)
      description: >-
        Returns a list of files (id, title, and metadata) belonging to the
        current user or accessible via a specified Shared Drive. This endpoint is
        confirmed against Trint's public docs, including the documented example
        `GET https://api.trint.com/transcripts/?limit=100&skip=0`.
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of items to return.
          schema:
            type: integer
            default: 100
        - name: skip
          in: query
          required: false
          description: Number of items to skip for pagination.
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: A list of transcripts / files.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TranscriptFile'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /transcripts/{id}:
    parameters:
      - $ref: '#/components/parameters/FileId'
    get:
      operationId: getTranscript
      tags:
        - Transcripts and Files
      summary: Retrieve a transcript (file)
      description: Retrieves a single transcript / file by its ID.
      x-modeled: true
      responses:
        '200':
          description: The requested transcript.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptFile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /folders:
    get:
      operationId: listFolders
      tags:
        - Transcripts and Files
      summary: List folders
      description: Lists folders that organize transcripts.
      x-modeled: true
      responses:
        '200':
          description: A list of folders.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Folder'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createFolder
      tags:
        - Transcripts and Files
      summary: Create a folder
      description: Creates a new folder.
      x-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderInput'
      responses:
        '200':
          description: The created folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /shared-drives:
    get:
      operationId: listSharedDrives
      tags:
        - Transcripts and Files
      summary: List shared drives (workspaces)
      description: Lists the shared drives / workspaces accessible to the account.
      x-modeled: true
      responses:
        '200':
          description: A list of shared drives.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharedDrive'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /export/{id}:
    parameters:
      - $ref: '#/components/parameters/FileId'
    get:
      operationId: exportTranscript
      tags:
        - Export
      summary: Export a transcript
      description: >-
        Exports a transcript in the requested format. Trint documents exporting
        the Transcript file type as JSON, plain text, CSV, Microsoft Word
        (.docx), SubRip captions (.srt), Edit Decision List (.edl), and Premiere
        XML. The exact request path is modeled here; the set of formats is
        grounded in Trint's public export documentation.
      x-modeled: true
      parameters:
        - name: format
          in: query
          required: true
          description: The export format.
          schema:
            type: string
            enum:
              - json
              - text
              - csv
              - docx
              - srt
              - edl
              - premiere-xml
      responses:
        '200':
          description: The exported transcript in the requested format.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
            text/plain:
              schema:
                type: string
            text/csv:
              schema:
                type: string
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                type: string
                format: binary
            application/x-subrip:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /captions/{id}:
    parameters:
      - $ref: '#/components/parameters/FileId'
    get:
      operationId: getCaptions
      tags:
        - Export
      summary: Get captions
      description: Retrieves captions for a transcript in Trint's caption format.
      x-modeled: true
      responses:
        '200':
          description: Caption data.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /translation-languages:
    get:
      operationId: listTranslationLanguages
      tags:
        - Translations
      summary: List supported translation languages
      description: Returns the language codes Trint can translate transcripts into.
      x-modeled: true
      responses:
        '200':
          description: Supported language codes.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /translations:
    post:
      operationId: createTranslation
      tags:
        - Translations
      summary: Create a translation
      description: Requests a translation of a transcript into a target language.
      x-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslationInput'
      responses:
        '200':
          description: The created translation job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Translation'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /translations/{fileId}:
    parameters:
      - name: fileId
        in: path
        required: true
        description: The transcript (file) ID.
        schema:
          type: string
    get:
      operationId: getTranslations
      tags:
        - Translations
      summary: Get translations for a transcript
      description: Retrieves translations associated with a transcript.
      x-modeled: true
      responses:
        '200':
          description: Translations for the transcript.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Translation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /realtime/stream:
    post:
      operationId: createRealtimeStream
      tags:
        - Realtime
      summary: Create a realtime RTMP stream
      description: >-
        Generates an RTMP stream key and URL used to push live audio/video into
        Trint for realtime transcription. Realtime ingest uses RTMP - a media
        streaming protocol - not a WebSocket. Transcription results and lifecycle
        are surfaced via the realtime status endpoint and webhooks.
      x-modeled: true
      responses:
        '200':
          description: RTMP stream credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeStream'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /realtime/{id}/start:
    parameters:
      - $ref: '#/components/parameters/FileId'
    post:
      operationId: startRealtime
      tags:
        - Realtime
      summary: Start realtime transcription
      description: Begins realtime transcription for a stream.
      x-modeled: true
      responses:
        '200':
          description: Realtime transcription started.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /realtime/{id}/stop:
    parameters:
      - $ref: '#/components/parameters/FileId'
    post:
      operationId: stopRealtime
      tags:
        - Realtime
      summary: Stop realtime transcription
      description: Stops realtime transcription for a stream.
      x-modeled: true
      responses:
        '200':
          description: Realtime transcription stopped.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /realtime/{id}/status:
    parameters:
      - $ref: '#/components/parameters/FileId'
    get:
      operationId: getRealtimeStatus
      tags:
        - Realtime
      summary: Get realtime status
      description: Returns the current status of a realtime transcription stream.
      x-modeled: true
      responses:
        '200':
          description: Realtime status.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webhooks/register:
    post:
      operationId: registerWebhook
      tags:
        - Webhooks
      summary: Register a webhook
      description: >-
        Registers a webhook endpoint that Trint will POST lifecycle events to,
        such as TRANSCRIPT_COMPLETE. Webhooks are ordinary HTTP callbacks, not a
        WebSocket connection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookInput'
      responses:
        '200':
          description: The registered webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webhooks/{id}:
    parameters:
      - $ref: '#/components/parameters/FileId'
    delete:
      operationId: deleteWebhook
      tags:
        - Webhooks
      summary: De-register a webhook
      description: Removes a previously registered webhook.
      responses:
        '200':
          description: Webhook removed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /webhook-events:
    get:
      operationId: listWebhookEvents
      tags:
        - Webhooks
      summary: List webhook event types
      description: >-
        Lists the event types Trint can emit - ACTIVITY_STARTED,
        MEDIA_TRANSFER_COMPLETE, MEDIA_TRANSFER_FAILED, TRANSCRIPT_COMPLETE, and
        TRANSCRIPT_FAILED.
      responses:
        '200':
          description: A list of event type names.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: >-
        HTTP Basic authentication using the API Key ID as the username and the
        API Key Secret as the password, sent as a Base64-encoded
        `Authorization` header. Recommended.
    legacyApiKey:
      type: apiKey
      in: header
      name: api-key
      description: >-
        Legacy authentication. The legacy key value is sent in the `api-key`
        request header.
  parameters:
    FileId:
      name: id
      in: path
      required: true
      description: The transcript (file) or resource ID.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
    UploadResult:
      type: object
      properties:
        trintId:
          type: string
          description: The ID of the created transcript.
        message:
          type: string
    IngestInput:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: Source media URL to ingest.
        filename:
          type: string
        language:
          type: string
        metadata:
          type: string
    TranscriptFile:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        language:
          type: string
        status:
          type: string
        duration:
          type: number
        created:
          type: string
          format: date-time
    Folder:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    FolderInput:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        workspaceId:
          type: string
    SharedDrive:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    TranslationInput:
      type: object
      required:
        - fileId
        - language
      properties:
        fileId:
          type: string
        language:
          type: string
          description: Target language code.
    Translation:
      type: object
      properties:
        id:
          type: string
        fileId:
          type: string
        language:
          type: string
        status:
          type: string
    RealtimeStream:
      type: object
      properties:
        id:
          type: string
        rtmpUrl:
          type: string
          description: RTMP ingest URL.
        streamKey:
          type: string
    WebhookInput:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: The endpoint Trint will POST events to.
        events:
          type: array
          items:
            type: string
            enum:
              - ACTIVITY_STARTED
              - MEDIA_TRANSFER_COMPLETE
              - MEDIA_TRANSFER_FAILED
              - TRANSCRIPT_COMPLETE
              - TRANSCRIPT_FAILED
    Webhook:
      allOf:
        - $ref: '#/components/schemas/WebhookInput'
        - type: object
          properties:
            id:
              type: string
