openapi: 3.2.0
info:
  title: Trint Realtime API
  description: The Trint API provides programmatic access to Trint's AI audio and video transcription platform.
  version: '1.0'
  contact:
    name: Trint Developer Hub
    url: https://dev.trint.com
  license:
    name: Proprietary
    url: https://trint.com/terms
servers:
- url: https://api.trint.com
  description: US tenant (default)
- url: https://api.eu.trint.com
  description: EU tenant (Enterprise data residency)
- url: https://upload.trint.com
  description: Direct media upload host
security:
- basicAuth: []
- legacyApiKey: []
tags:
- name: Realtime
  description: Live/realtime transcription via an RTMP media stream.
paths:
  /realtime/stream:
    post:
      operationId: createRealtimeStream
      tags:
      - Realtime
      summary: Create a realtime RTMP stream
      description: Generates an RTMP stream key and URL used to push live audio/video into Trint for realtime transcription. Realtime ingest uses RTMP - a media streaming protocol - not a WebSocket. Transcription results and lifecycle are surfaced via the realtime status endpoint and webhooks.
      x-modeled: true
      responses:
        '200':
          description: RTMP stream credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeStream'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /realtime/{id}/start:
    parameters:
    - $ref: '#/components/parameters/FileId'
    post:
      operationId: startRealtime
      tags:
      - Realtime
      summary: Start realtime transcription
      description: Begins realtime transcription for a stream.
      x-modeled: true
      responses:
        '200':
          description: Realtime transcription started.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /realtime/{id}/stop:
    parameters:
    - $ref: '#/components/parameters/FileId'
    post:
      operationId: stopRealtime
      tags:
      - Realtime
      summary: Stop realtime transcription
      description: Stops realtime transcription for a stream.
      x-modeled: true
      responses:
        '200':
          description: Realtime transcription stopped.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /realtime/{id}/status:
    parameters:
    - $ref: '#/components/parameters/FileId'
    get:
      operationId: getRealtimeStatus
      tags:
      - Realtime
      summary: Get realtime status
      description: Returns the current status of a realtime transcription stream.
      x-modeled: true
      responses:
        '200':
          description: Realtime status.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
    RealtimeStream:
      type: object
      properties:
        id:
          type: string
        rtmpUrl:
          type: string
          description: RTMP ingest URL.
        streamKey:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    FileId:
      name: id
      in: path
      required: true
      description: The transcript (file) or resource ID.
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API Key ID as the username and the API Key Secret as the password, sent as a Base64-encoded `Authorization` header. Recommended.
    legacyApiKey:
      type: apiKey
      in: header
      name: api-key
      description: Legacy authentication. The legacy key value is sent in the `api-key` request header.
